body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #1d2242;
  font-family: "Roboto", sans-serif;
}

h1 {
  /* font-family: "Oregano", cursive; */


}

h1,
h2,
h3,
h4,
h5,
p,
a {
  color: white;
}